<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style/css/connexion.css">


    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

    <title>Connexion • Gretagram</title>
</head>

<body>
<script type="module" src="style/js/connexion.js"></script>
<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Font Awesome (icon) -->
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<div>
    <div id="form">
        <!-- Logo -->
        <div>
            <img src="style/img/logoConnexion.png" id="logo" alt="Logo GRETAGRAM"/>
        </div>

        <!-- Login Form -->
        <div id="input">
            <form class="input">
                <!-- Place of the vue from connexion.js  -->
            </form>

        </div>

        <!-- Inscription -->
        <div>
            <p id="ou" style="word-spacing: 1.5em">—————————— OU ——————————</p>
            Vous n'avez pas de compte ?
            <a class="underlineHover" href="/inscription">Inscrivez-vous</a>
        </div>
    </div>

    <!-- Phone template -->
    <div>
        <img src="style/img/iphone.png" id="phone" alt="phone"/>
    </div>
</div>

<footer>
    <div class="footer">
        <nav>
            <ul class="list" style="display:none">
                <li>À PROPOS</li>
                <li>AIDE</li>
                <li>PRESSE</li>
                <li>API</li>
                <li>EMPLOIS</li>
                <li>CONFIDENTIALITÉ</li>
                <li>CONDITIONS</li>
                <li>LIEUX</li>
                <li>COMPTES PRINCIPAUX</li>
                <li>HASHTAGS</li>
                <li>LANGUE</li>
            </ul>
        </nav>
        <span><strong>© 2020 GRETAGRAM</strong></span>
    </div>
</footer>

</body>

</html>