<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<title>Accueil</title>
</head>

<body>


	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
				<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="Logo GRETAGRAM" />
			</div>

			<!-- Login Form -->
			<form>
				<input type="text" id="login" class="fadeIn second" name="login" placeholder="Nom d'utilisateur">
				<input type="text" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
				
				<button type="submit" class="btn btn-success fadeIn fourth">Se connecter</button>
			</form>

			<!-- Remind Passowrd -->
			<div id="formFooter">
				Vous n'avez pas de compte ?
				<a class="underlineHover" href="#">Inscrivez-vous</a>
			</div>

		</div>
	</div>
</body>

</html>