<!DOCTYPE html>
<html>

<head>
    <!-- Script JS -->
    <script type="module" src="style/js/feed.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        /* if the username or password are not localy stored, the user is redirected to the connexion page */
        if (localStorage.username === "" || localStorage.password === "") {
            window.location.href = "/connexion";
        }
    </script>
</head>

<body>

<h1>Feed</h1>

<div id="connected"></div>
<div id="disconnect"></div><br>

<a href="feed">• Feed</a><br>
<a href="mon-profil">• Mon profil</a> <br>
<a href="modifProfile">• Modifier le profil</a> <br>
<a href="modifPswd">• Modifier le mot de passe</a><br>
<a href="home">• home</a> <br>

</body>
</html>