<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>

<h1> Pages accessibles sans connexion : </h1>
<a href="connexion">• Page de connexion</a> <br>
<a href="inscription">• Inscription</a>

<h1>Connexion nécessaire :</h1>
<a href="feed">• Feed</a><br>
<a href="mon-profil">• Mon profil</a> <br>
<a href="modifProfile">• Modifier le profil</a> <br>
<a href="modifPswd">• Modifier le mot de passe</a><br>

<h4>Statistiques :</h4>
<a href="repart-sexe">• Répartition homme/femme</a><br>
<a href="repart-ville">• Répartition ville</a><br>
<a href="repart-pays">• Répartition pays</a><br>
<a href="evol-follow">• Evolution du nombre de followers</a><br>

</body>

<script>
// Exemple avec juste un select 
$(document).ready(function () {
    
    $.ajax({
        method: 'GET',
        url: 'AllUtilisateur/',
        dataType: 'json',
        success: function (data) {
            console.log(data);
        },
        error: function (x, error) {
            console.log(error+" jquery");
        }
    });

    $.ajax({
        method: 'GET',
        url: 'NbFemmeHomme/',
        dataType: 'json',
        data:{mail:'gretathunberg@gmail.com'},
        success: function (data) {
            console.log(data);
        },
        error: function (x, error) {
            console.log(error+" jquery");
        }
    });
    
    $.ajax({
        method: 'GET',
        url: 'VerifUtilisateur/',
        dataType: 'json',
        data:{
            mail:'holaquetal@gmail.com',
            mdp:'undeuxtrois'
        },
        success: function (data) {
            console.log(data);
        },
        error: function (x, error) {
            console.log(error+" jquery");
        }
    });

});

/* Exemple select avec parametre et traitement de la réponse (d'un autre projet)

$.ajax({
    method: 'GET',
    url: 'competencesDunPersonnel/',
    dataType: 'json',
    data: {
        id: $('#personnels option:selected').attr('data-id')
    },
    success: function (data) {
        let L = [];
        let noms = [];
        $('#competences').html("");
        $('#competences').append(
            `<tr class="table-primary"><th scope="col">Compétences</th><th></th></tr>`
        );
        data.forEach(d => {
            if (d.pourcentAcquis != 0) {
                $('#competences').append(
                    `<tr><td>${d.libelle}</td><td>${d.pourcentAcquis} %</td></tr>`
                );
                L.push(d.pourcentAcquis);
                noms.push(d.libelle);
            }
        });
        afficherRadar(L, noms);
    },
    error: function (x, error) {
        console.log(error);
    }
});

*/
</script>