<!DOCTYPE html>
<html>
<head>
    <title>Test</title>

    <script>
        /* if the username or password are not localy stored, the user is redirected to the connexion page */
        if (localStorage.username === "" || localStorage.password === "") {
            window.location.href = "/connexion";
        }

        function extractUrlParams(){    
            var t = location.search.substring(1).split('&');
            var f = [];
            for (var i=0; i<t.length; i++){
                var x = t[ i ].split('=');
                f[x[0]]=x[1];
            }
            return f;
        }

        localStorage.searchname = extractUrlParams().user;
    </script>

    <link rel="stylesheet" type="text/css" href="../style/css/mon-profile.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <!-- Script JS -->
    <link rel="stylesheet" type="text/css" href="style/css/header-profile.css"/>
    <script type="module" src="style/js/allPages.js"></script>
    <!-- Vue.js -->
    <script src="//unpkg.com/vue"></script>
    <!-- Axios -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <!-- Font Awesome (icon) -->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="feed">
        <!-- Logo -->
        <img src="../style/img/logo.png" id="logo" alt="Logo GRETAGRAM"/>
    </a>

    <!-- Search input -->
    <form class="form-inline my-2 my-lg-0" action="profil" method="GET">
        <input class="form-control mr-sm-2" type="search" name="user" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value>Rechercher</button>
    </form>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Home -->
            <li class="nav-item active">
                <a class="nav-link" href="feed"><i class='fa fa-home fa-lg'></i></a>
            </li>
            <!-- Stats -->
            <li class="nav-item">
                <a class="nav-link" href="repart-sexe"><i class='far fa-chart-bar fa-lg'></i></a>
            </li>
            <!-- Likes -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown">
                    <i class='far fa-heart fa-lg'></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: -75px">
                    <div id="likes"></div>
                </div>
            </li>
            <!-- User profile -->
            <li class="nav-item ">
                <a class="nav-link" href="mon-profil"><i class='far fa-user fa-lg'></i></a>
            </li>
            <!-- User setting -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown"><i class="fas fa-cog fa-lg"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-left: -100px">
                    <div id="config"></div>
                </div>
            </li>
            <!-- Disconnect button -->
            <li class="nav-item " id="disconnect">
            </li>
        </ul>
    </div>
</nav>

<div class="main" id="app">

    <section class="profile">
        <header class="header">
            <div class="details">
                <img :src="imagePic" class="profile-pic">
                <user :name="infos.pseudo"></user>
                <state :city="infos.ville" :country="infos.pays"></state>
                <div class="stats">
                    <categorie type="Publications" :count="posts.length"></categorie>
                    <categorie type="Abonnés" :count="followers.length"></categorie>
                    <categorie type="Evenements" :count="10"></categorie>
                </div>
            </div>
        </header>
    </section>


    <section id="gallery" class="thumbnail">
        <img class="gallery-image" v-b-modal.modal2 v-for="item in items" :src="`style/img/`+item.titre" @click="showModal = item.titre; searchContent(item.FK_post_id)">
            <b-modal id="modal2" src="`style/img/`+showModal" hide-footer hide-header>
                <div id="modalcontainer">
                    <img id="fatimage" :src="`style/img/`+showModal" alt="Image" style="border:solid">

                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <div class="image">
                                        <img :src="imagePic" alt="Image" height="50px" width="50px" style="border-radius: 50%;">
                                    </div>
                                </div>
                                <div class="media-content">
                                    <span>{{infos.pseudo }}</span>
                                </div>
                            </div>
                            <div class="content">
                                {{modalContent}}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="media-use">
                                <p class="card-footer-item" id="item-like"><i class="fa fa-heart"></i> {{nblikes}}
                                </p>
                                 <ul>
                                    <li id="listoflike" v-for="like in likes">
                                        {{like.pseudo}}
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="card-footer-item" id="item-comments"><i class="fa fa-commenting"></i> {{nbcomments}}
                                </p>
                            </div>
                            <a href="props.feed.link" target="_blank" class="card-footer-item"><i class="fa fa-external-link"></i> Link</a>
                        </div>
                </div>
            </b-modal>
    </section>

</div>

    <script type="module" src="../style/js/profil.js"></script>

</body>
</html>