<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            function test(adress) {
                $.ajax({
                    method: 'GET',
                    url: 'https://api-adresse.data.gouv.fr/search/',
                    dataType: 'json',
                    data:{q: adress},
                    success: function (data) {
                        var lat = data.features[0].geometry.coordinates[1]
                        var long = data.features[0].geometry.coordinates[0]

                        initialize(lat, long);
                    }
                });
            }

        function extractUrlParams(){    
            var t = location.search.substring(1).split('&');
            var f = [];
            for (var i=0; i<t.length; i++){
                var x = t[ i ].split('=');
                f[x[0]]=x[1];
            }
            return f;
        }

        var adress = extractUrlParams().adress;
        test(adress)
        </script>
    </head>
    <style>
        html, body { height: 100% }
    </style>

    <body>
        <div id="map" style="width:30%; height:30%"></div>
        <form>
            <input id="searchadress" name="adress" type="text">
        </form>
    </body>
</html>
<script type="text/javascript">
    function initialize(lat, long) {
        var map = L.map('map').setView([lat, long], 15); // LIGNE 18

        var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { // LIGNE 20
            attribution: '© OpenStreetMap contributors',
            maxZoom: 19
        });
    
        map.addLayer(osmLayer);

        L.marker([lat, long]).addTo(map);
    }
</script>