/* -------------------- Notification -------------------- */
.dropdown-item {
    font-size: 12px;
}

#notif {
    margin-left: -175px;
    width: 425px;
    height: 250px;
    overflow: scroll;
}

#date{
    font-weight: bold;
    font-size: 10px;
    color: #909090;
}


/* -------------------- Settings -------------------- */
#settings {
    margin-left: -75px;
}


/* -------------------- Nav -------------------- */
nav {
    background-color: #ffffff;
    border-bottom: 1px solid #68d89b;
    padding-bottom: 5px;
}

nav form {
    margin-left: 120px;
}

nav ul {
    margin-left: 125px;
}

#logo {
    width: 200px;
    margin-left: 120px;
}


/* -------------------- Body -------------------- */
body {
    background-color: #fafafa;
    position: relative;
    margin-bottom: 20px;
}


/* -------------------- Posts -------------------- */
#feed {
    overflow: auto;
}

#posts {
    float: left;
    height: 610px;
}

#posts ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 125px;
}

#posts li {
    background-color: #FFFFFF;
    width: 660px;
}

#posts #user, #posts #title {
    border-top: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

#posts #user {
    color: #4F9D69;
    font-size: 12px;
    padding: 10px;
}

#posts #title {
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #68d89b;
}

#posts #postContent {
    font-size: 14px;
    text-align: justify;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

#posts #photopost {
    border: 1px solid #dadada;
}

#posts #photoDuPost{
    max-width: 400px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#posts #date {
    font-size: 10px;
    font-weight: bold;
    color: #909090;
    text-transform: uppercase;
    text-align: right;
    padding: 5px;
    border: 1px solid #dadada;
}

#posts #date_commentaire {
    color: #909090;
    font-size: 10px;
    text-transform: uppercase;
}

#posts svg {
    width: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#posts #buttons {
    border-bottom: 1px solid white;
}

#posts .alert {
    width : 300px;
    margin-left: 10px;
}

#posts #description {
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    text-align: justify;
    max-height: 80px;
    overflow: auto;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

#posts #add_comment {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

#posts #add_comment textarea {
    width: 580px;
    height: 40px;
    margin: 5px;
    font-size: 12px;
    float: left;
}

#posts #add_comment button {
    vertical-align: middle;
    text-align: center;
    height: 40px;
    margin: 5px;
    font-size: 12px;
}

#posts #exampleModal {
    margin-top: 200px;
    text-align: center;
    font-size: 13px;
}



/* -------------------- User card -------------------- */
#user_card {
    float: right;
    background-color: #FFFFFF;
    border: 1px solid #dbdbdb;
    margin-top: 20px;
    margin-left: 850px;
    padding: 15px;
    width: 310px;
    overflow: hidden;
    position: absolute;
}

#user_card img {
    width: 50px;
    float: left;
    margin-right: 10px;
}

#user_card #text {
    font-size: 12px;
    width: 78%;
    float: right;
    font-weight: bold;
    margin-top: 10px;
}

#user_card #prenom {
    color: #8E8E8E;
    font-weight: normal;
}

#user_card a {
    color: black;
}

#user_card a:hover {
    color: #68d89b;
}