/* -------------------- Notification -------------------- */
.dropdown-item {
	font-size: 12px;
}

#notif {
	margin-left: -175px;
	width: 425px;
	height: 250px;
	overflow: scroll;
}

#date{
	font-weight: bold;
	font-size: 10px;
	color: #dbdbdb;
}


/* -------------------- Settings -------------------- */
#settings {
	margin-left: -75px;
}


/* -------------------- Nav -------------------- */
nav {
	background-color: #ffffff;
	border-bottom: 1px solid #68d89b;
	margin-top: 5px;
	padding-bottom: 5px;
}

#logo {
	width: 200px;
	margin-left: 120px;
}

nav form {
	margin-left: 120px;
}

nav ul {
	margin-left: 125px;
}

/* --------------------  -------------------- */

body {
	top: 0;
	left: 0;
	margin: 0;
}

#home {
	padding-right: 30px;
	margin-right: 15px;
	border-right: 1px solid black;
}

#rnav {
	width: 75%;
	display: flex;
	justify-content: space-between;
}

i, a {
	color: black;
	text-align: center;
}

.location:hover {
	color: #00aaff;
	transition: 0.3s;
}

.cat {display:inline-block;min-width:50px;}

.cat:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.cat:hover:after {
    width: 90%;
    background: #fff;
}

/************************************ PUBLICATIONS ************************************/

.publication {
	border: 1px solid #aaa;
	background-color: #eee;
	padding: 10px;
	width: 75%;
	margin: 0 auto 50px auto;
}

.interaction {
	text-align: center;
}

.event {
	text-align: right;
}

.pseudoslikes {
	display: none;
}

.btnlike:hover .l-liste{
	display: block;
}

.l-liste {
	display: none;
	position: absolute;
	background-color: #fff;
	text-align: center;
	border: 1px solid #aaa;
	list-style-type: none;
	padding: 10px;
	line-height: 3px;
	margin: 0;
}


/******************************************* GALLERY ***********************************/

#gallery {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}#gallery>* {
		padding: 30px;
        flex: 0 0 33.333%;
        width: 33%;
}

.gallery-image:scope {
	background-color: red;
}

.gallery-image:hover {
	opacity: 0.8;
	transition: 0.3s;
}

#modalcontainer, #modal2___BV_modal_body_ img {
	width: 100%;
}

.card-content {
	margin-top: 30px;
}

.card-content .media .media-left .image{
	width: 50px;
	height: 50px;
}

.card-content .media .media-content {
	width: 100%;
	height: 50px;
}

.card-content .media .media-content span {
	line-height: 50px;
	margin-left: 10px;
}

.card-content .content {
	margin: 25px 0;
	height: auto;
}

.card-footer {
	display: flex;
	justify-content: space-between;
}

.card-footer ul {
	list-style-type: none;
	padding: 0;
	display: none;
	background-position: -50px;
	position: fixed;
	background-color: #fff;
	padding: 10px;
}

#item-like:hover+ul, #item-comments:hover+ul {
	display: block
}